{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <section class="article">
    <h1 class="articleTitle">{{ article.title }}</h1>
    <div class="postInfo">
      Written on <span class="published" title="{{ article.date.isoformat() }}">{{ article.locale_date }}</span>
    </div>
    <div class="articleContent">
	<p>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- mutexes blog -->
	<ins class="adsbygoogle"
     	style="display:inline-block;width:728px;height:90px"
     	data-ad-client="ca-pub-1879978223971490"
     	data-ad-slot="9475424187"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	</p>
      {{ article.content }}
    </div>
  </section>
  <div class="articleEnd">---</div>
  {% if not DEBUG %}{% include "_disqus.html" %}{% endif %}
{% endblock %}
